<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <div>
        <h2>注册 SimpleChat</h2>
    </div>
    <div>
        我已注册, 现在就<a href="/">登录</a>
    </div>
    <div>
        用户名 : 
        <input type="text" name='uname'>
    </div>
    <div>
        手机号 : 
        <input type="text" name="phone_num">
    </div>
    <div>
        密码 : 
        <input type="password" name='passwd'>
    </div>
    <div>
        确认密码 :
        <input type="password" name='verify_pwd'>
    </div>
    <div>
        <input type="submit" href='/register' value="注册"></input>
    </div>
</body>
</html>